name: deploy

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  # Compile with latex-action
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          extra_system_packages: wget
          pre_compile: |
            wget https://mirror.ctan.org/systems/texlive/tlnet/update-tlmgr-latest.sh
            sh update-tlmgr-latest.sh
            tlmgr install newpx
      - name: Prepare Output Directory
        run: |
          mkdir -p output
          mv main.pdf output/
          cp index.html output/
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/

  # Deploy to GH Pages
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build_latex
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
